<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RudderStack Open Source Contributor Dashboard</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #F9F9F9;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 1em;
    }
    h1 {
      color: #333;
    }
    p {
      color: #666;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>🙏 Get started with contribution to RudderStack Open Source</h2>
    <p>
      <br/>
      All new contributors are required to sign the Contributor License Agreement (CLA) before merging PRs
      <br/><br/><br/>
      <a type="button" href="/cla">Sign CLA Now</a>
      <br/><br/><br/><br/><br/><br/>
      <hr/>
      Tools & resources for RudderStack contributors
      <ul>
        <li>Contribution guide</li>
        <li>Creating a new integration</li>
      </ul>
    </p>
  </div>
</body>
</html>